/******************************************************************************
 * Font Declarations
*******************************************************************************/

// Klim fonts...
@font-face {
    font-family: $font-family;
    src: url( "/assets/fonts/#{$font-family}.woff" ) format( "woff" );
    font-style: normal;
    font-stretch: normal;
}
