/******************************************************************************
 * Paragraphs
*******************************************************************************/
p, .p {
    @include p();

    br {
        @include respond( $mobile-breakpoint  ) {
            display: none;
        }
    }
}


/******************************************************************************
 * Buttons
*******************************************************************************/
.btn {
    @include p();
    line-height: $no-line;
    background-color: $pink;
    color: $white;
    cursor: pointer;
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    padding: 20px 30px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;

    @include respond( $mobile-breakpoint ) {
        height: 54px;
        font-size: $m-size;
    }
}
.btn--pink {
    background-color: $pink;
}
.btn--teal {
    background-color: $teal;
}


.inp {
    @include p();
    line-height: $no-line;
    -webkit-appearance: none;
    outline: 0;
    border: 1px solid $pink;
    background-color: $white;
    color: $paradise;
    padding: 20px;
    width: 100%;
    max-width: 320px;
    border-radius: 0;
    height: 60px;
    display: inline-block;
    vertical-align: middle;

    @include respond( $mobile-breakpoint ) {
        height: 54px;
        font-size: $m-size;
    }

    @include placeholder( $paradise );
}
.inp--txt {
    height: 256px;
}


/******************************************************************************
 * Headlines
*******************************************************************************/
h1, .h1, .h1 p {
    @include h1();

    br {
        @include respond( $mobile-breakpoint  ) {
            display: none;
        }
    }
}
h2, .h2, .h2 p {
    @include h2();

    br {
        @include respond( $mobile-breakpoint  ) {
            display: none;
        }
    }
}
h3, .h3 {}
