.main {
    padding-top: $header-height;
    transition: opacity $base-duration $ease;
    overflow: hidden;
    text-align: center;

    .is-tranny & {
        opacity: 0;
    }

    @include respond( $mobile-breakpoint ) {
        padding-top: $header-height-mobile;
    }
}



.events {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 (-($padding-1 / 2));
}
.events__listing {
    display: inline-block;
    width: 100%;
    max-width: 336px;
    margin: 0 ($padding-1 / 2);

    // @include respond( $break-laptop-medium - 1px ) {
    //     .h2 p {
    //         @include p();
    //     }
    // }

    @include respond( $break-tablet-medium ) {
        width: 336px;
    }

    @include respond( 850px ) {
        max-width: 336px;
    }

    @include respond( $mobile-breakpoint ) {
        max-width: 256px;
    }

    &:nth-child( 3 ) {
        @include respond( 1399px ) {
            margin-top: $baseunit * 2;
        }
    }



    &:nth-child( 2 ),
    &:nth-child( 3 ) {
        @include respond( 850px ) {
            margin-top: $baseunit * 2;
        }
    }
}
.events__listing__info {
    padding: $baseunit 0;
}



.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    position: relative;
    user-select: none;
    min-height: 250px;
    width: 100%;

    &.is-loaded {
        min-height: auto;
    }

    @include respond( $break-mobile-medium ) {
        overflow-y: hidden;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }
}
.cards__belt {
    display: inline-block;
    opacity: 0;
    transform: translate3d( 0, 0, 0 );
    transition: opacity $base-duration $ease,
                transform $base-duration $ease;

    .is-loaded & {
        opacity: 1;
    }
}
.cards__card {
    display: inline-block;
    width: 180px;
    margin: 0 $baseunit;

    @include respond( $mobile-breakpoint ) {
        width: 160px;
        margin: 0 ($baseunit / 2);
    }
}



.decks {
    display: flex;
    align-items: center;
    white-space: nowrap;
    position: relative;
    user-select: none;
    min-height: 480px;
    justify-content: center;

    &.is-loaded {
        min-height: auto;
        justify-content: flex-start;
    }
}
.decks__belt {
    transition: transform $base-duration $ease;
    transform: translate3d( 50vw, 0, 0 );
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.decks__navi {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    transform: translate3d( 0, -50%, 0 );
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity $base-duration $ease;

    .is-loaded & {
        opacity: 1;
    }
}
.decks__left,
.decks__right {
    pointer-events: auto;
    cursor: pointer;
    transition: opacity $base-duration $ease;
}
.decks__left {
    .no-left & {
        pointer-events: none;
        opacity: 0.25;
    }
}
.decks__right {
    .no-right & {
        pointer-events: none;
        opacity: 0.25;
    }
}
.decks__deck {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &[data-deck="Mingo"] {
        color: $tropical;
    }
}
.decks__card {
    display: inline-block;
    width: 320px;
    padding: 0 ($baseunit);
    box-sizing: content-box;
    white-space: normal;
    opacity: 0;
    transform: translate3d( 0, 0, 0 );
    transition: opacity $base-duration $ease,
                transform $base-duration $ease;

    .is-loaded & {
        opacity: 0.5;
    }

    @include respond( $break-tablet-full ) {
        width: 224px;
        padding: 0 ($baseunit * 2);
    }

    @include respond( $break-mobile-medium ) {
        width: 192px;
        padding: 0 ($baseunit);
    }

    .h2 {
        font-size: $p-size;
    }
    .p, p {
        font-size: $m-size;
    }

    &.is-active {
        opacity: 1;
        transform: translate3d( 0, 0, 0 ) scale( 1.28 );
    }

    &[data-card="pop-mingo"] {
        .h2 {
            color: $sunset;
        }
    }
    &[data-card="blue-crab"] {
        .h2 {
            color: $deepsea;
        }
        .p {
            color: $ocean;
        }
    }
    &[data-card="pelican"],
    &[data-card="spoiled-shrimp"] {
        .h2 {
            color: $beachtowel;
        }
        .p {
            color: $seafoam;
        }
    }
    &[data-card="shark"] {
        .h2 {
            color: $black;
        }
        .p {
            color: $grey-dark;
        }
    }
    &[data-card="seagull"] {
        .h2 {
            color: $deepsea;
        }
        .p {
            color: $grey-dark;
        }
    }
    &[data-card="shrimp"],
    &[data-card="jumbo-shrimp"],
    &[data-card="golden-shrimp"] {
        .h2 {
            color: $heatwave;
        }
        .p {
            color: $sunrise;
        }
    }
    &[data-card="tropical-flame"] {
        color: $tropical;
    }
    &[data-card="sunrise-flame"] {
        color: $sunrise;
    }
    &[data-card="heatwave-flame"] {
        color: $heatwave;
    }
    &[data-card="sunset-flame"] {
        color: $sunset;
    }
    &[data-card="paradise-flame"] {
        color: $paradise;
    }
    &[data-card="daybreak-flame"] {
        color: $daybreak;
    }
    &[data-card="palmtree-flame"] {
        color: $palmtree;
    }
    &[data-card="seafoam-flame"] {
        color: $seafoam;
    }
    &[data-card="ocean-flame"] {
        color: $ocean;
    }
    &[data-card="beachtowel-flame"] {
        color: $beachtowel;
    }
    &[data-card="deepsea-flame"] {
        color: $deepsea;
    }
}
.deck__card__graphic {}
.deck__card__lockup {
    transform: translate3d( 0, -$baseunit, 0 );

    .h2 {
        @include respond( $mobile-breakpoint ) {
            font-size: $p-size - 2px;
        }
    }
    .p {
        @include respond( $mobile-breakpoint ) {
            font-size: $m-size - 2px;
        }
    }
}



.hr {
    background-color: $grey;
    height: 1px;
    width: 100%;
}



.home {}
.home__events {
    .btn {
        background-color: $teal;
    }
}
.home__comiccons {
    .h1 {
        span:first-child {
            display: block;
            @include expb();
        }
    }
}



.contact {
    text-align: center;
}
.contact__form {
    display: inline-block;
    max-width: 480px;
    width: 100%;

    &.is-success {
        .contact__form__success {
            display: block;
        }
        .contact__form__body {
            display: none;
        }
    }

    .inp {
        display: block;
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }
}
.contact__form__success {
    display: none;

    .is-success & {
        display: block;
    }
}
.contact__form__body {
    .is-success & {
        display: none;
    }
}
.contact__submit {
    text-align: right;

    .btn {
        width: 160px;
    }
}



// Social
.social-link {
    margin: 0 16px;
}



// Signup
.signup {
    @include respond( $mobile-breakpoint ) {
        @include wrap();
    }

    .h2 {
        padding-top: $baseunit / 2;;
    }
}
.signup__form {
    &.is-success {
        .signup__success {
            display: block;
        }
        .signup__entry {
            display: none;
        }
    }
}
.signup__success {
    display: none;

    .is-success & {
        display: block;
    }
}
.signup__entry {
    .is-success & {
        display: none;
    }
}
.signup__input {
    @include respond( $mobile-breakpoint ) {
        max-width: 100%;
        width: 100%;
        text-align: center;
    }
}
.signup__btn {
    @include respond( $mobile-breakpoint ) {
        width: 100%;
    }
}



// Splash
.splash {
    text-align: center;
}
.splash__image {
    @include respond( $mobile-breakpoint ) {
        @include wrap();
    }

    .media {
        max-width: 768px;
        display: inline-block;
    }
}
